.loading {
    background-color: white;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.header-problem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

.btn {
    grid-row: auto;
}

.your-problem {
    display: flex;
    width: 500px;
}

.your-problem a {
    margin: 100px;
}
